<div class = "text_font">
    <div class="main">
        <div class = "headding">
            <h2>ジャンル編集</h2>
        </div>
        <%= form_with model:@genre, url:genre_path(@genre.id),local:true do |f| %>
    
            <div class="form-group">
                <label for="name">ジャンル名</label>
                <%= f.text_field :name %>
            </div>
            
            
            <div class="form-group">
                <%= f.submit '更新' %>
                <%= link_to "削除する", genre_path(@genre), class: "btn btn-danger" , method: :delete %></td>
            </div>
        <% end %> 
    </div>
</div>