// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.map-info{
    padding: 30px; 
}

.map{
    width: 60%;
  height: 400px;
  margin-left: 20%;
}


.list-table th{
    width: 130px;
    
}

.table-wrap {
  overflow-x: scroll;
}
.table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}
.table th,
.table td {
  border: 2px solid #eee;
  padding: 4px 8px;
}